twebclient/src/main/java/LiveWebservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/LiveWebservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiveWebservice" targetNamespace="http://www.example.org/LiveWebservice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/LiveWebservice/">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="substract">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="substractResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="divide">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="divideResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
            <xsd:element name="string" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part name="x" type="xsd:string"/>
    <wsdl:part name="y" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="AddReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="substractRequest">
  	<wsdl:part name="x" type="xsd:string"></wsdl:part>
  	<wsdl:part name="y" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="substractResponse">
  	<wsdl:part name="SubstractReturn" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="divideRequest">
  	<wsdl:part name="x" type="xsd:string"></wsdl:part>
  	<wsdl:part name="y" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="divideResponse">
  	<wsdl:part name="DivideReturn" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LiveWebservice">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="substract">
    	<wsdl:input message="tns:substractRequest"></wsdl:input>
    	<wsdl:output message="tns:substractResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
    	<wsdl:input message="tns:divideRequest"></wsdl:input>
    	<wsdl:output message="tns:divideResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveWebserviceSOAP" type="tns:LiveWebservice">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="add">
  		<soap:operation
  			soapAction="http://www.example.org/LiveWebservice/add" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="substract">
  		<soap:operation
  			soapAction="http://www.example.org/LiveWebservice/substract" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="divide">
  		<soap:operation
  			soapAction="http://www.example.org/LiveWebservice/divide" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveWebservice">
    <wsdl:port binding="tns:LiveWebserviceSOAP" name="LiveWebserviceSOAP">
      <soap:address location="http://localhost/mapi/LiveWebservice.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
